<div class="header">
    <div class="rm-title">
        <h1>Chatroom</h1>
    </div>
</div>

<button class="login-button" type="button"><a class="link" href="/auth/google">Login with Google</a></button>
